html{
    background-color: #353535;
    font-family: sans-serif;
}

body{
    height:100%;
}
.chat-room{
    outline: 5px solid #ffffff;
    width: 30em;
    margin: auto;
    display:flex;
    flex-direction: column;
    flex-flow: column nowrap;
    background-color: #ffee58;
}

.chat-room-title{
    display: flex;
    flex-direction: row;
    outline: 5px solid white;
    width:100%;
    background-color: #ffd900;
    color: #3d3d3d;
}

.chat-room-title .title-left{
    display:flex;
    flex:1;
    color: white;
}

.chat-room-title h2{
    display:flex;
    align-items: center;
    flex:12;
}

.chat-list{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    /*background-color: pink;*/
    margin: 2%;
}

.chat-list .chat-box{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 3%;
}

.chat-list .chat-box .chat-name{
    display:flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.chat-list .chat-box .chat-name .picture{
    background-color: white;
    border-radius: 0.5rem;
}

.chat-list .chat-box .chat-name .picture img{
    display:flex;
    flex-direction: column;
    width: 4rem;
    margin: 0.3rem;
}

.chat-list .chat-box .chat-name .name-text{
    color: black;
}

.chat-list .chat-box .chat-text{
    display:flex;
    flex-direction: column;
    flex:7;
    padding: 2%;
    margin-left: 2%;
    border-radius: 0.5rem;
    background-color: white;
}

.chat-list .chat-box .chat-text img{
    width:60%;
}

.choice-list{
    /*background-color: pink;*/
    display:flex;
    flex-direction: column;
    margin-top: auto;
}

.choice-list .notice {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding:2%;
    border-radius: 1rem;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    font-size: 150%;
}

.choice{
    /*background: hsl(0, 0%, 100%, 0.5);*/
}

.choice .chat-box .chat-text{
    display:flex;
    flex-direction: row;
    flex:6;
    padding: 1rem;
    margin-left: 2%;
    border-radius: 1rem;
    background-color: white;
}

.choice .chat-box button{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    margin-left:2%;
    border-radius: 1rem;
    border: 0px;
    background-color: cornflowerblue;
    color:white;
    font-weight: bold;
    font-size: 150%;
}

.choice .chat-box button:hover{
    background-color: rgb(0, 0, 151);
    cursor: pointer;
}