#chatroom{
    display:flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    background-color: yellow;
}

#chatlist{
    display:flex;
    flex-direction: column;
    background-color: pink;
    margin: 2%;
}

#chatbox{
    display:flex;
    flex-direction: row;
    background-color: white;
    margin:2%;
}

#character{
    display:flex;
    flex:1;
    background-color: black;
    color: white;
}

#chat-content{
    display:flex;
    flex:6;
}

#keyboard{
    background-color: pink;
    display:flex;
    flex-direction: column;
    margin: 2%;
    margin-top: auto;
}

#selection{
    background: white;
    margin: 2%;
}